.pergunta{
	margin-top: 20px;
}
.pergunta--header{
	display: table;	
}
.pergunta--content{
	margin-left: 40px;
	margin-top: 10px;
}
.pergunta--content__level2{
	margin-left: 10px;
}
.subQuestionTitle{
	color: gray;
	font-weight: bold;
}