/*.pergunta{
	
}*/
.pergunta--header{
	display: table;	
	margin-left: 20px;
	padding-top: 30px;
}
.pergunta--content{
	margin-left: 40px;
	margin-top: 10px;
	p{
		margin-bottom: 0;
	}
}
.pergunta--content__level2{
	margin-left: 10px;
}
.subQuestionTitle{
	color: gray;
	font-weight: bold;
}
.enviarForulario{
	margin-left: 40px;
	position: absolute;
}