<div class="l-fim">
	<div class="pergunta__header padding-bottom20 darkblue">
		<div class="container-fluid text-center">
		  <div class="row margin-top-20">
		    <div class="col-xs-12 font-size-18">
		    	<p>Recebemos seus dados corretamente.</p>
		    	<p>Obrigado por participar.</p>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-xs-12 font-size-16 margin-top-10">
		    	<p>Não esqueça de retirar o seu presente em nosso estande.</p>
		    </div>
		  </div>
		  <div class="row">
		    <div class="col-xs-12 font-size-14 margin-top-10">
		    	<p>Atenciosamente,</p>
		    	<p>Equipe Agile</p>
		    </div>
		  </div>
		</div>
	</div>
	<div class="fim__content">
		<div class="triangle header">
			<canvas class="left80"></canvas>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6 leftContent">
					<div class="bloco localizacao">
						<span>SAP Forum Brasil</span>
						<span>15 e 16 de Março</span>
						<span>Transamérica Expo Center. São Paulo</span>
					</div>
				</div>
				<div class="col-xs-6 text-right">
					<img src="img/footer-img.png" class="logoAgile">
				</div>
			</div>
			<div class="triangle footer">
				<canvas style="vertical-align: bottom;" class="right9"></canvas>
			</div>
			<div class="row fim__content--footer">
				<div class="col-xs-12 align-left">
					<p><a href="www.agilesolutions.com">www.agilesolutions.com</a></p>
				</div>
			</div>
		</div>
	</div>
</div>