<div class="l-fim">
	<div class="fim__content unscribe">
		<!-- <div class="triangle header">
			<canvas></canvas>
		</div> -->
		<div class="container-fluid">
			<div class="col-xs-12">
				<div class="form-group">
				  <label for="exampleInputEmail1">Digite seu email</label>
				  <input type="email" class="form-control" ng-model="email" placeholder="Email">
				</div>
			</div>
			<button type="button" class="btn btn-primary margin-left40" ng-click="unscribeClick()">Enviar</button>
			
			<!-- <div class="triangle footer">
				<canvas style="vertical-align: bottom;"></canvas>
			</div> -->
			<div class="row fim__content--footer relative margin-top-20">
				<div class="col-xs-12">
					<p><a href="www.agilesolutions.com">www.agilesolutions.com</a></p>
				</div>
			</div>
		</div>
	</div>
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner" class="loader" id="loader"></span>
</div>