<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Email Marketing</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../style.css">
	<link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css"></link>	
	<link rel="stylesheet" href="../bower_components/AngularJS-Toaster/toaster.min.css" />
	
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-route/angular-route.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../bower_components/AngularJS-Toaster/toaster.min.js"></script>

	<script src="../application.js"></script>
</head>

<body ng-app="emailMarketingApp">
	<div class="page-content">
		<div class="logo">
			<img src="../img/email-marketing-proposal-06_02.png">
		</div>
		<div ng-view></div>
	</div>
</body>

</html>