.title{
	font-weight: bold;
	display: table-cell;
}
.number{	
  background-color: #3ea9de;
  font-weight: bold;
  width:30px;
  height:30px;
  border-radius:50%;
  font-size:20px;
  line-height:30px;
  text-align:center;
  color: white;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-10{
  margin-top: 10px;
}
input[type="text"]{
  background-color : #3ea9de;
  border:1px solid white;
  font-weight: normal;
  width: 100%;
}
input::-webkit-input-placeholder {
  color: white !important;
  margin-left: 10px;
}
 
input:-moz-placeholder { /* Firefox 18- */
  color: white !important;  
  margin-left: 10px;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
  color: white !important;  
  margin-left: 10px;
}
 
input:-ms-input-placeholder {  
  color: white !important;  
  margin-left: 10px;
}